/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 10vh;
    position: fixed;
    width: 100%;
    background-color: var(--normal-header-footer);
}

.container-logo {
    width: 50px;
}

.container-logo img {
    width: 100%;
}

button {
    display: flex;
    cursor: pointer;
    padding: 10px;
    border: none;
    transition: .8s;
    border-radius: 50%;
    background-color: white;
}


button img {
    width: 40px;
}

header.dark,
header.dark button {
    background-color: var(--dark-header-footer);
}