.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: calc(100% / 3);
    height: 350px;
    border: 0.1px solid rgba(0, 0, 0, 0.397);

    line-height: 30px;
    text-align: left;
    padding: 15px;

    transition: .6s;
}


.card:hover {
    background-color: var(--yellow);
}

.card:hover p {
    color: black;
}

.card p {
    font-size: 1.1rem;
}

.card h3 {
    font-size: 1.4rem;
    color: var(--normal-subtitles);
}

.card .container-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@media screen and (max-width: 768px) {
    .card {
        text-align: center;
        width: calc(100%);
    }
}