* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins';
}


:root {
  --normal-header-footer: #fff;
  --normal-text-banner: #022144;
  --normal-subtitles: #32333c;
  --normal-backgorund-work-experiences: #f6f8fc;
  --normal-paragraphs-work-experiences: #8a8fa3;

  --dark-header-footer: #252525;
  --dark-text-banner: #022144;
  --dark-banner-image-background: #252525;
  --dark-subtitles: #CCCCCC;
  --dark-backgorund-work-experiences: #393838;
  --dark-paragraphs-work-experiences: #9F9F9F;


  --yellow: #feb633;
}