.section-about{
    background-color: #F8F7FF;
    padding: 100px 20px;
    text-align: center;
}

.limit-size p:first-of-type{
    line-height: 32px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.cards div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: calc(50% - 30px);
    border: solid 1px #a2adad;
    flex-grow: 1;
}

.cards img{
    width: 100%;
    object-fit: cover;
}


.cards div h4{
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    font-size: "Anybody cursive";
    letter-spacing: 5px;
}

.cards div p{
    font-size: clamp(1em, 1em + 0.2vw, 1.5em);
    color: #4a4a4a;
}

.cards .container-text{
    padding: 10px;
}


@media screen and(max-width:768px) {
    .cards{
        flex-direction: column;
    }
    .section-about{
        padding: 25px 0;
    }
}

@media screen and (max-width: 550px){
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .section-about{
        padding: 25px 5px;
    }

    .section-about p{
        text-align: justify;
    }

    .cards .container-image{
        display: none;
    }

    .cards div{
        width: 100%;
        height: 300px;
    }

    .cards div img{
        width: 100%;
        height: 100%;
    }
}