* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


:root {
    --000: #fff;
    --001: #f1f3f7;
    --003: #f6f6f6;
    --004: #a89f9fb4;
    --005: #2f86d6;
    --006: #233032;
}

/* header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    visibility: visible;
    background-color: var(--005);
    position: relative;
    width: 100%;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-logo img {
    width: 70px;
}

.text-logo h1 {
    font-size: 22px;
}

.text-logo p {
    color: var(--000);
}

nav {
    display: flex;
    font-weight: bold;
    gap: 15px;
    color: var(--006);
}

nav a:visited {
    color: var(--000);
}

nav a {
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    border-bottom: 3px solid #000;
    transition: border-bottom 0.5s ease-in-out;
}



/*#Prices */

#prices {
    margin: 70px 0;
    font-size: 15px;
}

#prices table {
    margin: 0 auto;
    width: 60vw;
}

#prices thead tr th {
    height: 100px;
}

#prices thead tr th h2 {
    font-size: 30px;
    margin-top: 5px;
}

#prices thead tr th p {
    color: var(--004);
    font-size: 12px;
}


#prices td,
#prices th {
    font-weight: bold;
    text-align: center;
    height: 50px;
    width: 200px;
    border-bottom: 1px solid var(--003);
    border-right: 1px solid var(--003);
}

#prices thead th,
#prices tbody tr td:first-child {
    background-color: var(--003);
}

#prices tbody tr td:first-child {
    width: 330px;
    text-align: left;
    padding-left: 50px;
    font-weight: bold;
}

#prices td {
    position: relative;
}

.blue-marker {
    background-color: var(--005);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: 80px;
    bottom: 15px;
}

/* Footer */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--005);
    padding: 15px 0 0 0;
    gap: 30px;
    height: 270px;
}

.contact p {
    font-weight: bold;
    color: var(--000);
}

footer {
    color: var(--006);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

footer a {
    color: var(--005);
}