*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial;
  text-decoration: none;
}

.container{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

a, a:visited{
  color: black;
}