* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow-bread: #de8e37;
}

main {
    text-align: center;
    margin: 20px auto;
}

h2,
h3,
p,
h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}


header img {
    width: 240px;
}

nav a {
    margin: 10px;
    color: black;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    margin: 0 auto;
}

/* .first-section {
    bor
} */

.first-section h1 {
    font-size: 25px;
    margin: 10px;
}

.first-section h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 10px;
    color: var(--yellow-bread);
}

.first-section img {
    width: 800px;
}

.second-section {
    background-color: var(--yellow-bread);
    color: white;
    padding: 5px;
}

.second-section img {
    width: 500px;
}

.second-section h3 {
    font-size: 24px;
}

.second-section h4 {
    font-size: 20px;
}


.second-section p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

span {
    font-weight: bold;
}