.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-banner,
.image-banner {
    width: 50vw;
    height: 100vh;
}

.image-banner {
    background-image: url(/public/assets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: var(--dark-text-banner);
}

.text-banner h1 {
    font-size: 3.5rem;
    font-weight: 500;
}

.text-banner h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.text-banner p {
    font-style: italic;
}

.banner.dark {
    background-color: var(--dark-banner-image-background);
    color: var(--normal-backgorund-work-experiences);
}

.banner.banner.dark .text-banner {
    color: white;
}

@media screen and (max-width: 768px) {
    .image-banner {
        display: none;
    }

    .text-banner {
        text-align: center;
    }
}