
header .limit-size{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img{
    width: 150px;
}

header nav a{
    padding: 5px;
    margin: 0 5px;
}

@media screen and (max-width: 550px){
    header .limit-size{
        flex-direction: column;
    }

    header nav{
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding: 10px;
        border-top: 1px solid #aaadaf;
    }
}