*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.limit-size{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

p{
    font-size: 22px;
}

h3{
    font-size: 36px;
}