*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --000: #fff;
    --001: #f1f3f7;
    --003: #f6f6f6;
    --004: #a89f9f;
    --005: #2f86d6;
    --006: #233032;
}

/* Header */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    height: 15vh;
    position: fixed;
    background-color: var(--000);
    width: 100%;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-logo img{
    width: 90px;
}

.text-logo h1{
    font-size: 22px;
}

.text-logo p{
    color: var(--005);
}

nav{
    display: flex;
    font-weight: bold;
    gap: 15px;
    color: var(--006);
}

nav a:visited{
    color: var(--006);
}

/* Banner */

.banner{
    display: flex;
    background-color: var(--005);
    color: var(--001);
    justify-content: center;
    align-items: center;
    height: 85vh;
}


.banner .container-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}


.banner img{
    width: 400px;
}

/* Ad */

.ad{
    display: flex;
    background-color: var(--006);
    justify-content: space-evenly;
    align-items: center;
    color: var(--001);
    height: 15vh;
}

.ad .container-text h2{
    font-size: 20px;
}
.ad .container-text p{
    font-size: 14px;
}

.ad a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--005);
    gap: 10px;
    border-radius: 3px;
    width: 150px;
    width: 200px;
    padding: 15px 0;
}

.ad a:visited{
    color: var(--001);
}

/* informations */

.informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 60vh;
}

.informations .container-infos .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.informations .container-infos .info img{
    width: 170px;
}

.container-infos{
    display: flex;
}

.container-infos h3{
    font-size: 15px;
}

.container-infos p{
    width: 400px;
    font-size: 13px;
    width: 280px;
}

.informations .container-infos .info p{
    text-align: center;
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 0 0;
    gap: 30px;
}

footer p{
    font-weight: bold;
}

.container-footer{
    background-color: var(--003);
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.container-footer a{
    color: var(--005);
}