.products{
    width: 100%;
    text-align: center;
    padding: 100px 20px;
}

.products .limit-size{
    padding: 10px;
}

.container-cards{
    display: flex;
    margin: 50px 0;
    gap: 5px;
    flex-wrap: wrap;
}

ul{
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 10px;
}


@media screen and (max-width:768px) {
    .products{
        padding: 20px 0;
    }

    .container-cards{
        margin: 25px 0;
    }

    .container-list ul, .products .limit-size > p {
        display: none;
    }

    .products p{
        text-align: justify;
    }

}

