* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --000: #fff;
    --001: #f1f3f7;
    --003: #f6f6f6;
    --004: #a89f9fb4;
    --005: #2f86d6;
    --006: #233032;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    position: fixed;
    background-color: var(--000);
    width: 100%;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-logo img {
    width: 70px;
}

.text-logo h1 {
    font-size: 22px;
}

.text-logo p {
    color: var(--005);
}

nav {
    display: flex;
    font-weight: bold;
    gap: 15px;
    color: var(--006);
}

nav a:visited {
    color: var(--006);
}

nav a {
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    border-bottom: 3px solid #000;
    transition: border-bottom 0.5s ease-in-out;
}


/* Banner */

.banner {
    display: flex;
    background-color: var(--005);
    color: var(--001);
    justify-content: center;
    align-items: center;
    height: 85vh;
}


.banner .container-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}


.banner img {
    width: 400px;
}

/* Ad */

.ad {
    display: flex;
    background-color: var(--006);
    justify-content: space-evenly;
    align-items: center;
    color: var(--001);
    height: 15vh;
}

/* Ad with style different */
#distinct {
    background-color: var(--005);
    color: var(--000);
}

#distinct a {
    background-color: var(--006);
}

/*  */

.ad .container-text h2 {
    font-size: 20px;
}

.ad .container-text p {
    font-size: 14px;
}

.ad a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--005);
    gap: 10px;
    border-radius: 3px;
    width: 150px;
    width: 200px;
    padding: 15px 0;
}

.ad a:hover {
    box-shadow: 0px 0px 12px 0.5px var(--000);
    transition: box-shadow 0.4s ease-in-out;
}

.ad a:visited {
    color: var(--001);
}

/* informations */

.informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 60vh;
}

.informations .container-infos .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.informations .container-infos .info img {
    width: 170px;
}

.container-infos {
    display: flex;
    gap: 30px;
}

.informations .container-text h3,
.plans h3 {
    width: 800px;
    text-align: center;
    font-size: 25px;
}


span {
    color: var(--005);
}

.container-infos h3 {
    font-size: 15px;
}

.container-infos p {
    width: 400px;
    font-size: 13px;
    width: 280px;
}

.informations .container-infos .info p {
    text-align: center;
}

/* Plans */

.plans {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--003);
    height: 80vh;
}

table {
    padding: 10px 0;
    box-shadow: 0px 0px 30px 5px var(--005);
}

.plans h4 {
    font-size: 20px;
}

.plans thead {
    display: flex;
    justify-content: space-around;
}

.plans thead tr {
    display: flex;
    flex-direction: column;
    width: 300px;
}


.plans thead th:last-child {
    font-weight: 500;
    color: var(--005);
}

.plans tbody tr {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.plans tbody td {
    width: 300px;
    border: 0.5px var(--001) solid;
    padding: 15px 0;
}

.background {
    background-color: var(--000);
}

.plans img {
    width: 100px;
}


/* Footer */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0 0 0;
    gap: 30px;
    height: 400px;
}

.contact p {
    font-weight: bold;
}

footer {
    background-color: var(--006);
    color: var(--003);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

footer a {
    color: var(--005);
}